<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表页</title>
    <link rel="stylesheet" th:href="@{../../lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <link rel="stylesheet" th:href="@{../../assets/js/morris/morris-0.4.3.min.css}"/>
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <style>
        label {
            margin-top: 5px;
        }
    </style>
</head>
<body>

<div>
    <div th:replace="public/header :: header"></div>
    <!--/. NAV TOP  -->

    <nav class="navbar-default navbar-side" role="navigation" >
        <div class="sidebar-collapse" style="display: inline-block;float: left;width: 150px;text-align: center;">
            <ul class="nav" style="height: 1000px; width: inherit;" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-bar-chart-o"></i>首页</a>
                </li>
                <li>
                    <a href="category.html"><i class="fa fa-bars"></i> 分类</a>
                </li>
                <li>
                    <a href="article.html"><i class="fa fa-file-text-o"></i> xxx</a>
                </li>
                <li>
                    <a href="comment.html"><i class="fa fa-envelope"></i> xxx</a>
                </li>
            </ul>
        </div>

        <div style="display: inline-block;margin-left: 100px;position: absolute">
            <div class="fl preview-wrap" style="display:inline-block;background-color: #0075b0;float: left;width: 49%">
                <div id="preview" class="spec-preview">
                    <span class="jqzoom"><img th:src="${seckill.image}" alt=""/></span>
                </div>
            </div>

            <div class="fr itemInfo-wrap" style="display:inline-block;float:right;width: 49%">
                <div class="sku-name">
                    <h4 th:text="${seckill.title}"></h4>
                </div>
                <div class="news">
                    <span><img th:src="@{../../lib/font/icon/clock.png}"/>精品秒杀</span>
                </div>
                <div class="summary">
                    <div class="summary-wrap">

                        <div class="fl title">
                            <i>秒杀价</i>
                        </div>
                        <div class="fl price">
                            <i>￥</i>
                            <b th:text="${seckill.costPrice}"></b>
                            <span>原价：<b th:text="${seckill.price}"></b></span>
                        </div>
                        <div class="fr remark">
                            剩余库存：<b th:text="${seckill.stockCount}"></b>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <div style="color: #ff0000d9;">
                        <h2>
                            <span id="seckill-time-span"></span>
                            <br/>
                            <br/>
                            <span id="seckill-box"></span>
                        </h2>
                    </div>
                </div>
            </div>

        </div>

    </nav>

</div>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{../../lib/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{../../lib/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../../lib/countdown.js}"></script>
<script type="text/javascript" th:src="@{../../js/seckill_detail.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        //使用表达式传入参数
        seckill.detail.init({
            seckillId: [[${seckill.seckillId}]],
            startTime: [[${seckill.startTime.time}]],//毫秒
            endTime: [[${seckill.endTime.time}]],
            money: [[${seckill.costPrice}]] //秒杀价钱
        });
    });
</script>
</html>