<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet" />-->
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris Chart Styles-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <style>
        label {
            margin-top: 5px;
        }
    </style>
</head>
<style type="text/css">
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f2;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<body>
<div th:if="${session.session_user}!= null">
    <div th:replace="public/header :: information_header"></div>
    <div th:replace="public/guide :: information_guide"></div>
    <div id="center" style="position: absolute;margin-left: 150px;width: 100%;">
        <div id="information_table">
            <span><input type="image" disabled="disabled"/></span>
            <ul>
                <li>昵称：<input id="nickname" th:value="${session.session_user.nickname}" disabled="disabled"/></li>
                <li>邮箱：<input id="email" th:value="${session.session_user.mailbox}" disabled="disabled"/></li>
            </ul>
            <button id="information_alter">修改</button>
            <button id="information_save" style="display: none">保存</button>
            <button id="information_back" style="display: none">取消</button>
        </div>
    </div>

    <div id="addresses" style="position: absolute;margin-left: 150px;width: 900px;border-width: 1px;border-color: #ff7d25;border-style: solid;margin-top: 150px">
        <p>新增收货地址：</p>
        <div id="newaddress_table" >
            <ul>
                <li>
                    &nbsp;&nbsp;&nbsp;详细地址：<input id="address" style="height: 30px;width: 500px;" maxlength="75" placeholder="请填写详细地址"/>
                </li>
                <br/>
                <li>
                    收货人姓名：<input id="name" style="height: 30px;width: 500px;" maxlength="25" placeholder="长度不超过25字符"/>
                </li>
                <br/>
                <li>
                    &nbsp;&nbsp;&nbsp;手机号码：<input id="telephone" maxlength="11" style="height: 30px;width: 500px;" placeholder="请填写手机号码"/>
                </li>
            </ul>
            <button class="btn-primary" id="sbtaddress">确认</button>
        </div>
    </div>
    <div style="margin-top: 420px;float: top;margin-left: 150px" th:if="${addressList} != null">
        <p>已保存地址：</p>
        <table id="addresstable" width="800px">
            <tr>
                <th style="width: 140px">收货人</th>
                <th style="width: 300px">详细地址</th>
                <th style="width: 100px">电话</th>
                <th style="width: 200px">操作</th>
            </tr>
            <!---->
            <!--<tr   th:each="row : ${addressList}" th:id="${row.addressId}" >-->
                <!--<td style="width: 140px"><input disabled="disabled" type="text" th:value="${row.name}"/><span class="flag" style="background-color: #ff8e0f">默认地址</span></td>-->
                <!--<td style="width: 300px"><input disabled="disabled" type="text" th:value="${row.addressText}"/></td>-->
                <!--<td style="width: 100px"><input disabled="disabled" type="text"  th:value="${row.phone}"/></td>-->
                <!--<td style="width: 200px"><button class="btn-blue default">设置为默认地址</button><button class="btn-danger delete">删除</button></td>-->
            <!--</tr>-->

            <tr   th:each="row : ${addressList}" th:id="${row.addressId}" >
                <td style="width: 140px"><input disabled="disabled" type="text" th:value="${row.name}"/></td>
                <td style="width: 300px"><input disabled="disabled" type="text" th:value="${row.addressText}"/></td>
                <td style="width: 100px"><input disabled="disabled" type="text"  th:value="${row.phone}"/></td>
                <td style="width: 200px"><button class="btn-blue default">设置为默认地址</button><button class="btn-danger delete">删除</button></td>
            </tr>

        </table>
    </div>


</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{../../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        function isValidEmail(str) {
            return /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test(str);
        }

        function isvalidtelephone(str){ return /^\d{11}$/.test(str); }

        $("#information_alter").click(function () {
            $(this).hide()
            $("#information_save").show()

            $("#information_table span input").removeAttr("disabled");
            $("#information_table ul li input").removeAttr("disabled");

        });  //点击用户数据修改按钮

        $("#information_back").click(function () {
            var nickname=$("#nickname")
            var email=$("#email")
            var icon=$("#information_table span input")
            nickname.val([[${session.session_user.nickname}]])
            email.val([[${session.session_user.mailbox}]])

            nickname.attr("disabled","disabled");
            email.attr("disabled","disabled");
            icon.attr("disabled","disabled");
            $("#information_save").hide();
            $("#information_alter").show();

        });   //点击用户数据取消按钮

        $("#information_save").click(function () {
             var icon=$("#information_table span input")

             var nickname=$("#nickname")
             var email=$("#email")


            if(!isValidEmail(email.val()))
            {
                email.css("border-color","#f00");
                alert("邮箱格式错误！！！");
                return;
            }
            $.ajax({
               url:"/infor/update/"+[[${session.session_user.username}]],
                type:"POST",
                data:{"nickname":nickname.val(),
                      "mailbox":email.val()
                },
                dataType:"",
                success:function (res) {
                    if(res == "success")
                    {
                        nickname.attr("disabled","disabled");
                        email.attr("disabled","disabled");
                        icon.attr("disabled","disabled");
                        $("#information_save").hide();
                        $("#information_alter").show();
                        alert("更新成功")
                    }
                    else
                    {
                        nickname.attr("disabled","disabled");
                        email.attr("disabled","disabled");
                        icon.attr("disabled","disabled");
                        $("#information_save").hide();
                        $("#information_alter").show();
                        alert("更新失败")
                    }

                },
                error:function (err) {
                    console.log(err)
                }
            });
        });   //点击用户数据保存按钮



        $(".delete").click(function () {
            if(window.confirm("确定删除该地址?"))
            {
                var row = $(this).parent().parent()
                var address_id = $(this).parent().parent().attr('id')
                $.ajax({
                    url: "address/delete",
                    type: "POST",
                    data: {"addressId": address_id,},
                    dataType: "text",
                    success: function (res) {
                        if (res == "success") {
                            row.remove()
                            alert("删除成功")
                        }
                        else {
                            alert("删除失败")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        alert("删除失败")
                    }

                });
            }
            else
            {
                return;
            }
        });        //点击地址删除按钮

        $(".default").click(function () {
            var id=$(this).parent().parent().attr("id")
            $.ajax({
                url:"address/setDefaultAddress",
                type:"POST",
                data:{ "address_id":id},
                dataType:"text",
                success: function (res) {
                    if(res == "success")
                    {
                        alert("设置成功！！！")
                    }
                    else
                    {
                        alert("设置失败！！！")
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("设置失败！！！")
                }
            });

        });       //点击默认地址按钮

        $("#sbtaddress").click(function () {
            var receive_name=$("#name").val()
            var address=$("#address").val()
            var telephone=$("#telephone").val()
            if(address=="")
            {
                  alert("地址为空！！！")
                return;
            }
            if(receive_name==""){
                alert("接收人为空！！！")
                return;
            }
            if(!isvalidtelephone(telephone)){
                alert("手机格式错误！！！")
                return;
            }
            $.ajax({
                url:"address/add",
                type:"POST",
                data:{
                    "receive_name":receive_name,
                    "address":address,
                    "telephone":telephone
                },
                dataType:"text",
                success: function (res) {
                    if(res == "success")
                        // $("#addresstable tr:first").after( "<tr  id="+res+">"+
                        //     " <td style='width: 140px'><input type='text' value="+receive_name+"/><span  class='flag' style='background-color: #ff8e0f;display: none'>默认地址</span></td>"+
                        //     " <td style='width: 300px'><input type='text' value="+address+"/></td>"+
                        //     " <td style='width: 100px'><input type='text' value="+telephone+"/></td>"+
                        //     " <td style='width: 200px'><button  class='btn alter'>修改</button><button class='btn-blue default'>设置为默认地址</button><button class='btn-danger delete'>删除</button></td></tr>")
                      window.location.reload();
                    else
                    {
                        alert("添加地址失败！！！");
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("添加地址失败！！！");
                }
            });
        })     //点击提交地址按钮
    });
</script>
</body>
</html>
