<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="goodsguide">
      <nav class="navbar-default navbar-side" role="navigation" >
          <div class="sidebar-collapse" style="display: inline-block;float: left;width: 150px;text-align: center;">
              <ul class="nav" style="height: 1000px; width: inherit;" id="main-menu">
                  <li>
                      <a href=""><i class="fa fa-bar-chart-o"></i> &nbsp;&nbsp;首页</a>
                  </li>
                  <li id="category">
                      <a href="category.html"><i class="fa fa-bars"></i> &nbsp;&nbsp;分类</a>
                  </li>
              </ul>
          </div>


          <div id="categorydiv"  class="category">
              <ul style="list-style: none;">
                  <li><a href=""  >xx1</a>数&nbsp;&nbsp;码</li>
                  <li><a href=""  >xx1</a>服&nbsp;&nbsp;饰</li>
                  <li><a href=""  >xx1</a>食&nbsp;&nbsp;品</li>
                  <li><a href=""  >xx1</a>图&nbsp;&nbsp;书</li>
              </ul>

          </div>
      </nav>
  </div>
</body>
</html>