<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../js/bootstrap.min.css}"/>
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
</head>
<body>

<div th:fragment="footer" class="footer">
    <nav class="text-center">
        <div class="footer-inner">
            <div class="copyright">&copy; 2016 &mdash; <span itemprop="copyrightYear"> 2020 </span>
                <span class="with-love">
                                    <i class="fa fa-heartbeat"></i>
                                </span>
                <span class="author" itemprop="copyrightHolder">&nbsp;&nbsp;西北农林科技大学信息工程学院&nbsp;&nbsp;By&nbsp;Flyfans</span>

            </div>

        </div>
    </nav>
</div>

</body>
</html>