<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表页</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet" />-->
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris Chart Styles-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <style>
        label {
            margin-top: 5px;
        }
    </style>
</head>
<body>

<div>
    <div th:replace="public/header :: header"></div>
    <!--/. NAV TOP  -->

    <div th:replace="public/goodsguide :: goodsguide"></div>

        <div style="margin-left: 160px;float:left">
            <div class="fl preview-wrap" style="display: inline-list-item;float:left;position: absolute;width: 300px">
                <div id="preview" class="spec-preview">
                    <span class="jqzoom"><img th:src="${goods.image}" alt=""/></span>
                </div>
            </div>

            <div class="fr itemInfo-wrap" style="height: 300px;width:400px; display: inline-list-item;float:left ;position: absolute ;margin-left: 400px">
                <div class="sku-name">
                    <h4 th:text="${goods.goodsName}"></h4>
                </div>
                <div class="news">
                    <span><img th:src="@{../../lib/font/icon/clock.png}"/>精品秒杀</span>
                </div>
                <div class="summary">
                    <div class="summary-wrap">

                        <div class="fl title">
                            <i>秒杀价</i>
                        </div>
                        <div class="fl price">
                            <i>￥</i>
                            <b th:text="${goods.currentPrice}"></b>
                            <span>原价：<b th:text="${goods.originalPrice}"></b></span>
                        </div>
                        <div class="fr remark">
                            剩余库存：<b th:text="${goods.stockCount}"></b>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <div style="color: #ff0000d9;">
                        <h2>
                            <span id="seckill-time-span"></span>
                            <br/>
                            <br/>
                            <span id="seckill-box"></span>
                        </h2>
                    </div>
                </div>
            </div>

        </div>



</div>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{../../js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{../../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/countdown.js}"></script>
<script type="text/javascript" th:src="@{../../js/seckill_detail.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#categorydiv").hide()

        $("#category").hover(
            function () {
                $("#categorydiv").show()

            },
            function () {
                $("#categorydiv").hide()

            }
        );

        $("#categorydiv").hover(
            function () {
                $("#categorydiv").show()

            },
            function () {
                $("#categorydiv").hide()

            }
        );
        //使用表达式传入参数
        seckill.detail.init({
            seckillId: [[${goods.goodsId}]],
            startTime: [[${goods.startTime.time}]],//毫秒
            endTime: [[${goods.endTime.time}]],
            money: [[${goods.currentPrice}]], //秒杀价钱
            user: [[${session.session_user}]]
        });
    });
</script>
</html>