<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet" />-->
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris Chart Styles-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <style>
        label {
            margin-top: 5px;
        }
    </style>
</head>
<style type="text/css">
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f2;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<body>
<div>
    <div th:replace="public/header :: information_header"></div>
    <div th:replace="public/guide :: information_guide"></div>
    <div id="center" style="position: absolute;margin-left: 150px;width: 100%;">
        <div id="information_table">
            <span><input type="image" disabled="disabled"/></span>
            <ul>
                <li>昵称：<input th:value="1111" disabled="disabled"/></li>
                <li>邮箱：<input th:value="2222" disabled="disabled"/></li>
            </ul>
            <button id="information_alter">修改</button> <button id="information_save" style="display: none">保存</button>
        </div>
    </div>

    <div id="addresses" style="position: absolute;margin-left: 150px;width: 900px;border-width: 1px;border-color: #ff7d25;border-style: solid;margin-top: 150px">
        <p>新增收货地址：</p>
        <div id="newaddress_table" >
            <ul>
                <li>
                    &nbsp;&nbsp;&nbsp;详细地址：<input id="address" style="height: 30px;width: 500px;" placeholder="请填写详细地址"/>
                </li>
                <br/>
                <li>
                    收货人姓名：<input id="name" style="height: 30px;width: 500px;" placeholder="长度不超过25字符"/>
                </li>
                <br/>
                <li>
                    &nbsp;&nbsp;&nbsp;手机号码：<input id="telephone" style="height: 30px;width: 500px;" placeholder="请填写手机号码"/>
                </li>
            </ul>
            <input id="defaultaddressbtn" type="checkbox"/>设置为默认地址
            <button class="btn-primary" id="sbtaddress">确认</button>
        </div>
    </div>
    <div style="margin-top: 420px;float: top;margin-left: 150px">
        <p>已保存地址：</p>
        <table id="addresstable" width="800px">
            <tr>
                <th style="width: 140px">收货人</th>
                <th style="width: 300px">详细地址</th>
                <th style="width: 100px">电话</th>
                <th style="width: 200px">操作</th>
            </tr>
            <tr th:each="item : ${test}" th:id="${item}">
                <td style="width: 140px"><input type="text" th:text="${item}"/><span th:if="" class="flag" style="background-color: #ff8e0f">默认地址</span></td>
                <td style="width: 300px"><input type="text" th:text="${item}"/></td>
                <td style="width: 100px"><input type="text" th:text="${item}"/></td>
                <td style="width: 200px"><button  class="btn alter">修改</button><button class="btn-blue default">设置为默认地址</button><button class="btn-danger delete">删除</button></td>
            </tr>
        </table>
    </div>


</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{../../js/bootstrap.min.js}"></script>
<script>
    $(function () {
        function isValidEmail(str) {
            return /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test(str);
        }

        function isvalidtelephone(str){ return /^\d{11}$/.test(str); }

        $("#information_alter").click(function () {
            $(this).hide()
            $("#information_save").show()

            $("#information_table span input").removeAttr("disabled");
            $("#information_table ul li input").removeAttr("disabled");

        });

        $("#information_save").click(function () {
             var icon=$("#information_table span input");
             var information=$("#information_table ul li input");
             var nickname=information[0]
             var email=information[1]
            if(!isValidEmail(email.val()))
            {
                email.css("border-color","#f00");
                alert("邮箱格式错误！！！");
                return;
            }
            $.ajax({
                url:"",
                type:"",
                data:{},
                dataType:"",
                success:function (res) {
                    if(res == "success")
                    {
                        nickname.attr("disabled","disabled");
                        email.attr("disabled","disabled");
                        icon.attr("disabled","disabled");
                        $("#information_save").hide();
                        $("#information_alter").show();
                    }

                },
                error:function (err) {
                    console.log(err)
                }
            });
        });

        $(".alter").click(function () {
            var rows=$(this).parent().sibling()
            var address_id=$(this).parent().parent().attr('id')
            var recive_name=rows[0].children().text()
            var address=rows[1].children().text()
            var phone_num=rows[2].children().text()
            $.ajax({
                url:"",
                type:"POST",
                data:{ "":recivename,},
                dataType:"text",
                success: function (res) {
                    console.log(res)
                    window.location.href = res
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $(".delete").click(function () {
            var row=$(this).parent().parent()
            var address_id=$(this).parent().parent().attr('id')
            $.ajax({
                url:"",
                type:"POST",
                data:{ "":address_id,},
                dataType:"text",
                success: function (res) {
                    row.remove()
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $(".default").click(function () {
            var row=$(this).parent().parent()
            var address_id=$(this).parent().parent().attr('id')
            $.ajax({
                url:"",
                type:"POST",
                data:{ "":address_id,},
                dataType:"text",
                success: function (res) {

                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $("#sbtaddress").click(function () {
            var dftflag=$("#defaultaddressbtn").prop("checked")
            var recive_name=$("#name").val()
            var address=$("#address").val()
            var telephone=$("#telephone").val()
            if(address=="")
            {

            }
            if(recive_name==""){

            }
            if(isvalidtelephone(telephone)){

            }
            $.ajax({
                url:"",
                type:"POST",
                data:{
                    "":recive_name,
                    "":address,
                    "":telephone,
                    "":dftflag
                },
                dataType:"text",
                success: function (res) {
                    if(res)
                    {
                          if(dftflag==true)
                              $(".flag").hide()

                        $("#addresstable tr:first").after( "<tr  id="+res+">"+
                            " <td style='width: 140px'><input type='text'/>"+recive_name+"<span  class='flag' style='background-color: #ff8e0f'>默认地址</span></td>"+
                            " <td style='width: 300px'><input type='text' />"+address+"</td>"+
                            " <td style='width: 100px'><input type='text' />"+telephone+"</td>"+
                            " <td style='width: 200px'><button  class='btn alter'>修改</button><button class='btn-blue default'>设置为默认地址</button><button class='btn-danger delete'>删除</button></td></tr>")
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        })
    });
</script>
</body>
</html>
