<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet" />-->
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Morris Chart Styles-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <style>
        label {
            margin-top: 5px;
        }
    </style>
</head>
<style type="text/css">
    .surfaceThree {
        position: relative;
        height: 30px;
        width: 120px;
        background: #d80505;
        border-radius: 6px;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        color: #fff;
    }

    .surfaceThree input {
        position: absolute;
        top: 5px;
        right: -110px;
        /* color: #fff; */
        height: 30px;
        /* 重点代码让input隐藏 */
        opacity: 0;
    }

    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f2;
        text-align: center;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
        text-align: center;
    }
</style>
<body>
<div th:if="${session.session_user}!= null" style="height: 1000px">
    <div th:replace="public/header :: information_header"></div>
    <div th:replace="public/guide :: information_guide"></div>
    <div id="center" style="position: absolute;margin-left: 150px;width: 700px;">
        <div id="information_table">
            <div style="height: 150px;width: 150px;display: inline-block; margin-left: 30px; margin-top: 30px;text-align: center">
                <form id="icon"  method="post" action="/seckill/upload" enctype="multipart/form-data" target="frameName">
                <img  style="height: 150px;width: 150px;" th:src="@{${session.session_user.icon}}"/>
                    <button type="button" id="select_icon" class="btn btn-info" style="margin-top: 10px">修改头像</button>
                    <div class="surfaceThree" id="select_file" style="display: none;margin-top: 10px;margin-left: 15px">选择文件
                        <input type = "file" name="fileName" accept="image/png,image/jpeg" id="icon_input" />
                    </div>

                    <button id="sbt_icon" class="btn btn-success" type="submit" onClick="sub();" style="display: none;margin-top: 10px">提交</button>
                    <button id="sbt_back" class="btn btn-warning" type="button" style="display: none;margin-top: 10px;">取消</button>

                </form>
                <iframe id="iconResult" src=""  style="display: none"  name="frameName"></iframe>
            </div>
            <div style="float: left;display: inline-block;margin-left: 60px;text-align: center;margin-top: 100px;position: absolute">
                <div class="input-group">
                    <span class="input-group-addon">昵称：</span>
                    <input type="text" class="form-control" id="nickname" th:value="${session.session_user.nickname}" width="10px" disabled="disabled"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">邮箱：</span>
                    <input type="text" class="form-control" id="email" th:value="${session.session_user.mailbox}" width="10px" disabled="disabled"/>
                </div>
               <br/>
               <button id="information_alter" class="btn btn-info" >修改</button>
               <button id="information_save" class="btn btn-info" style="display: none">保存</button>
               <button id="information_back" class="btn btn-warning" style="display: none">取消</button>
            </div>
        </div>
    </div>

    <div id="addresses" style="float: left;position: absolute;margin-top:280px;margin-left: 150px;width: 700px;border-width: 1px;border-color: #ff7d25;border-style: solid;" class="col-lg-6">
        <div class="panel-heading"><p>新增收货地址：</p></div>
        <div id="newaddress_table" >
            <ul>
                <li>
                    &nbsp;&nbsp;&nbsp;详细地址：<input id="address" class="form-control" style="height: 30px;width: 500px;" maxlength="75" placeholder="请填写详细地址"/>
                </li>
                <br/>
                <li>
                    收货人姓名：<input id="name" class="form-control" style="height: 30px;width: 500px;" maxlength="25" placeholder="长度不超过25字符"/>
                </li>
                <br/>
                <li>
                    &nbsp;&nbsp;&nbsp;手机号码：<input id="telephone" class="form-control" maxlength="11" style="height: 30px;width: 500px;" placeholder="请填写手机号码"/>
                </li>
            </ul>
            <button class="btn btn-info" id="sbtaddress" style="text-align: center;margin-bottom: 11px;margin-left: 520px">确认</button>
        </div>
    </div>

    <div style="margin-top: 600px;float: top;margin-left: 150px">
        <p>默认地址</p>
        <table  style="width: 640px;text-align: center">
            <tr>
                <th style="width: 240px">收货人</th>
                <th style="width: 300px">详细地址</th>
                <th style="width: 100px">电话</th>
            </tr>
            <tr id="default_show">
                <th style="width: 240px"></th>
                <th style="width: 300px"></th>
                <th style="width: 100px"></th>
            </tr>

        </table>
    </div>

    <div style="margin-top: 20px;float: top;margin-left: 150px" th:if="${addressList} != null">
        <p>已保存地址：</p>
        <table id="addresstable" style="width: 700px;text-align: center">
            <tr>
                <th style="width: 140px">收货人</th>
                <th style="width: 300px">详细地址</th>
                <th style="width: 100px">电话</th>
                <th style="width: 350px">操作</th>
            </tr>
            <tr   th:each="row : ${addressList}" th:id="${row.addressId}" >
                <td style="width: 140px" th:text="${row.name}"></td>
                <td style="width: 300px" th:text="${row.addressText}"></td>
                <td style="width: 100px" th:text="${row.phone}"></td>
                <td style="width: 100px"><button class="default btn btn-info">设置为默认地址</button>&nbsp;&nbsp;<button class="delete btn btn-warning">删除</button></td>
            </tr>

        </table>
    </div>


</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{../../js/bootstrap.min.js}"></script>
<srcipt type="text/javascript" src="http://malsup.github.io/jquery.form.js"></srcipt>
<script type="text/javascript" th:inline="javascript">
    var handlerFlag = 0;

    function setOnloadCallBask(obj, event, handler) {
        //for most explores
        if (null != obj && null != obj.addEventListener) {
            obj.addEventListener(event, handler, false);
        }
        //for IE
        else if (null != obj && null != obj.attachEvent) {
            obj.attachEvent('on'+event, handler);
        }
        //not support
        else {
            //选择dom元素错误
            throw new Error('不支持该dom元素');
        }
    }

    function ActionHandler()  {

        if(0 != handlerFlag)  {
            window.location.reload();
            }
            handlerFlag = 0;

    }

    function sub()  {
        handlerFlag = 1;
    }


    $(function () {

        var default_address=[[${session.session_user.address}]];

        var dft_address=default_address.split(",");

        var address_show=$("#default_show th");

        address_show.eq(0).prepend(dft_address[2]);
        address_show.eq(1).text(dft_address[0]);
        address_show.eq(2).text(dft_address[1]);


        setOnloadCallBask(document.getElementById("iconResult"),'load',ActionHandler);

        $("#icon_input").change(function () {
            var filename=$(this).val();
            if(!/\.(jpg|jpeg|png|JPG|JPEG|PNG)$/.test(filename))
            {
                $(this).val("");
                alert("图片类型必须是jpg,png中的一种");
            }
        });


        $("#select_icon").click(function () {
           $(this).hide();
           $("#select_file").show();
           $("#sbt_icon").show();
           $("#sbt_back").show();
        });

        $("#sbt_back").click(function () {
            $("#select_file").hide();
            $("#sbt_icon").hide();
            $("#sbt_back").hide();
            $("#select_icon").show();
            $("#icon_input").val("");
        });

        function isValidEmail(str) {
            return /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test(str);
        };

        function isvalidtelephone(str){ return /^\d{11}$/.test(str); }

        $("#information_alter").click(function () {
            $(this).hide()
            $("#information_save").show()
            $("#information_back").show()

            $("#information_table span input").removeAttr("disabled");
            $("#information_table div input").removeAttr("disabled");

        });  //点击用户数据修改按钮

        $("#information_back").click(function () {
            var nickname=$("#nickname")
            var email=$("#email")
            nickname.val([[${session.session_user.nickname}]])
            email.val([[${session.session_user.mailbox}]])
            nickname.attr("disabled","disabled");
            email.attr("disabled","disabled");
            $("#information_save").hide();
            $("#information_back").hide();
            $("#information_alter").show();

        });   //点击用户数据取消按钮

        $("#information_save").click(function () {
            var nickname=$("#nickname")
            var email=$("#email")


            if(!isValidEmail(email.val()))
            {
                email.css("border-color","#f00");
                alert("邮箱格式错误！！！");
                return;
            }
            $.ajax({
                url:"/infor/update/"+[[${session.session_user.username}]],
                type:"POST",
                data:{"nickname":nickname.val(),
                    "mailbox":email.val()
                },
                dataType:"",
                success:function (res) {
                    if(res == "success")
                    {
                        nickname.attr("disabled","disabled");
                        email.attr("disabled","disabled");
                        $("#information_save").hide();
                        $("#information_back").hide();
                        $("#information_alter").show();
                        alert("更新成功")
                    }
                    else
                    {
                        nickname.attr("disabled","disabled");
                        email.attr("disabled","disabled");
                        $("#information_save").hide();
                        $("#information_back").hide();
                        $("#information_alter").show();
                        alert("更新失败")
                    }

                },
                error:function (err) {
                    console.log(err)
                }
            });
        });   //点击用户数据保存按钮



        $(".delete").click(function () {
            if(window.confirm("确定删除该地址?"))
            {
                var row = $(this).parent().parent()
                var address_id = $(this).parent().parent().attr('id')
                $.ajax({
                    url: "address/delete",
                    type: "POST",
                    data: {"addressId": address_id,},
                    dataType: "text",
                    success: function (res) {
                        if (res == "success") {
                            row.remove()
                            alert("删除成功")
                        }
                        else {
                            alert("删除失败")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        alert("删除失败")
                    }

                });
            }
            else
            {
                return;
            }
        });        //点击地址删除按钮

        $(".default").click(function () {
            var id=$(this).parent().parent().attr("id")
            $.ajax({
                url:"address/setDefaultAddress",
                type:"POST",
                data:{ "address_id":id},
                dataType:"text",
                success: function (res) {
                    if(res == "success")
                    {
                        alert("设置成功！！！")
                        window.location.reload();
                    }
                    else
                    {
                        alert("设置失败！！！")
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("设置失败！！！")
                }
            });

        });       //点击默认地址按钮

        $("#sbtaddress").click(function () {
            var receive_name=$("#name").val()
            var address=$("#address").val()
            var telephone=$("#telephone").val()
            if(address=="")
            {
                alert("地址为空！！！")
                return;
            }
            if(receive_name==""){
                alert("接收人为空！！！")
                return;
            }
            if(!isvalidtelephone(telephone)){
                alert("手机格式错误！！！")
                return;
            }
            $.ajax({
                url:"address/add",
                type:"POST",
                data:{
                    "receive_name":receive_name,
                    "address":address,
                    "telephone":telephone
                },
                dataType:"text",
                success: function (res) {
                    if(res == "success")
                    // $("#addresstable tr:first").after( "<tr  id="+res+">"+
                    //     " <td style='width: 140px'><input type='text' value="+receive_name+"/><span  class='flag' style='background-color: #ff8e0f;display: none'>默认地址</span></td>"+
                    //     " <td style='width: 300px'><input type='text' value="+address+"/></td>"+
                    //     " <td style='width: 100px'><input type='text' value="+telephone+"/></td>"+
                    //     " <td style='width: 200px'><button  class='btn alter'>修改</button><button class='btn-blue default'>设置为默认地址</button><button class='btn-danger delete'>删除</button></td></tr>")
                        window.location.reload();
                    else
                    {
                        alert("添加地址失败！！！");
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("添加地址失败！！！");
                }
            });
        })     //点击提交地址按钮
    });
</script>
</body>
</html>
